body {
background-color: #060707;
margin: 0;
          
      }
      #font-style {
          font-style: italic;
          line-height: 40px;
          text-align: start;
          color: rgb(2, 2, 2);
          margin: 0;
      }
        p {
            font-style: italic;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            
        }
        .list-style {
            color: rgb(255, 255, 249);
            font-size: 30px;
            font-style: italic;
            text-align: center;
            text-decoration:none;
            list-style-type:georgian;
            
        }
        #style-paragrafo{
            color: ivory;
        }
        .skills {
            color: rgb(253, 253, 242);
            font-size: 100px;
            font-style: italic;
            font-size: 30px;
            text-align:center;
            text-decoration: underline;
            text-decoration: none;
            display:block;
        text-decoration-line: none;
            
            
        }
        h3 {
            color: rgb(31, 31, 26);
        }
        #linkbranco{
            color: rgb(7, 7, 7);
            font-size: 40px;
            text-align: center;
        }
        #section {
            background-color: indigo;
            padding: 80px;
            border-width: 80px;
            
             }
            .nav {
                font-size: x-large;
                 text-decoration-color: rgb(23, 26, 26);
                color: rgb(24, 24, 21);
                
            }
            #section02 {
                padding: 80px;
                background-image: url(img/Crunchyroll);
                height: 100vh;

                

            }
            #section03{
                padding: 40px;
                background-color: indigo;
                background-image: url(img/youtube);
                height: 100vh;
            }
            #footer-style {
                
                background-image:url(img/redes-sociais) ;

            
            }
            #header{
                background-image: url(img/portfolio);
                height: 50vh;
            }