* {
    margin: 0px;
    scroll-behavior: smooth;
}

body {

    /* Definir uma larguna maxima de tela e centralizar o conteudo ao centro */
    max-width: 1200px;
    margin:  auto;


    color: white;
    background-color: black;
}

.yang {
    width: 100%;
    margin: 0px;
    height: 170px;


}

.imgyang {
    margin-top: 20px;
    border-radius: 50%;
}

a {

    color: rgb(5, 5, 5);
    background-color: rgb(66, 235, 66);
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    cursor: progress;
    padding: 4px;
    margin: 8px;
    padding-bottom: 7px;
    transition: 200ms;
    width: 90px;
}

a:hover {
    color: rgb(15, 12, 12);
    background-color: cyan;
    font-size: 18px;


}

header {
    font-size: 0px;
}

.menu {
    /* Display flex para poder centralizar os elementos */
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

    background-color: black;
    padding: 10px;
}

h2 {
    margin-top: 40px;

}

/* Criei uma div para agrupar os elementos de descricao e centralizar na tela */
.description {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center
}

/* Apliquei um margin bottom em todos os h1 e h2  */
.description h1,
h2 {
    margin-bottom: 10px;
}

.container_hobbies{
    display: flex;
    
}

.card img{
    width: 70%;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px 5px #24c848;
    transition: 0.6s
}

.card img:hover{
    transform: scale(1.2);
}

.card{
    display:flex;
    align-items: center;
    flex-direction: column;
    
}

section{
    display: flex;
    flex-direction: column;
}





/* Criei a classe titulos para todos os titulos */
.titulos {
    color: rgb(66, 235, 66);
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;

}

.videos {
    width: 300px;
    border-style: groove;
    height: 400px;


}

.videos2 {
    width: 532px;
    position: relative;
    border-style: inset;
    left: 50px;
    height: 400px;

}

.video3 {
    width: 302px;
    border-style: groove;
    position: relative;
    left: 100px;
    height: 400px;
}

.botong {

    padding: 10px;
    bottom: 20px;
    right: 30px;
}

.botont {

    padding: 10px;
    bottom: 20px;
    right: 15px;
}


/* Apliquei um display flex para centralizar os elementos na tela */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 40px;
}

.titulo_footer {
    color: rgb(66, 235, 66);
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

